bin
build
gclbuildscript
lib/gcl
3rdParty/fbx/obj
3rdParty/fbx/include
3rdParty/fbx/lib
site_scons
*.idb
*.pdb
*.mayaSwatches*
_UpgradeReport_Files
UpgradeLog.XML
UpgradeLog.htm
*~
*.opensdf
*.sdf
*.vcxproj
*.vcxproj.filters
